<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/12_%EC%BB%AC%EB%A0%89%EC%85%98%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. List와 for문**

In [1]:
li1 = ['apple', 'banana', 'orange', 'melon']

for i in li1 :
  print(i, end=' ')

apple banana orange melon

### 문제
score 리스트에 저장된 점수가 60점 이상인 개수가 몇개인지 확인하는 프로그램을 작성해보자
* score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]

In [5]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
count = 0
for i in score :
  if i >= 60 :
    count += 1
count

5

In [7]:
len([i for i in score if i >= 60])ㄴ

5

# **2. dict와 for문**

In [13]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dict1 :
  print(i)

no
userid
name
hp

In [14]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dict1.keys():  # key들로 이루어진 리스트 반환.
  print(i)

no
userid
name
hp

In [12]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dict1 :
  print(dict1[i])

1
apple
김사과
010-1111-1111

In [16]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dict1 :
  print(dict1.get(i),  end=' ') # get은 없는 key값을 넣어도 오류가 나지않고 None값을 다른 출력으로 변경가능.

1 apple 김사과 010-1111-1111

In [18]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for i in dict1.items() :
  print(i)

('no', 1)
('userid', 'apple')
('name', '김사과')
('hp', '010-1111-1111')

In [20]:
dict1 = {'no': 1, 'userid':'apple', 'name':'김사과', 'hp':'010-1111-1111'}

for k, v in dict1.items() :
  print(k, v)

no 1
userid apple
name 김사과
hp 010-1111-1111

In [ ]:
li = [1,2,3,4]
print(li.pop())
print()

# **3. 컴프리헨션(Comprehension)**
컴프리헨션은 파이썬에서 리스트, 세트, 딕셔너리 등의 컬렉션을 간단하게 생성하거나 변형하는 방법 중 하나입니다. 컴프리헨션은 반복문과 조건문을 사용하여 간결하게 컬렉션을 생성하는 기법으로, 코드를 더 간단하고 가독성 좋게 작성할 수 있도록 도와줍니다.

### 3-1. List 컴프리헨션
```
[요소 for문]

입출력 예시 )
      입력 : [i for i in range(10)]
      출력 : [0,1,2,3,4,5,6,7,8,9]
```

In [23]:
num = 10
result = [0 for i in range(num)]
result

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [25]:
li1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
result = [num for num in li1]
result

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [27]:
li2 = ['apple', 'banana', 'orange', 'melon']
result = [len(str1) for str1 in li2]
result

[5, 6, 6, 5]

In [31]:
result = [num for num in range(10) if num%2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [34]:
li3 = [-1, 0, -4, 24, 5, -10, 2, 20]
# 양수만 리스트에 그대로 저장하고 음수는 0으로 변환해서 저장하기
result = [i if i>0 else 0 for i in li3]
result

[0, 0, 0, 24, 5, 0, 2, 20]

In [35]:
li4 = []
for i in range(1,4) :
  for j in range(1,3) :
    li4.append(i*j)
print(li4)

[1, 2, 2, 4, 3, 6]

In [37]:
li4 = [i*j for i in range(1,4) for j in range(1,3)]
li4

[1, 2, 2, 4, 3, 6]