<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/13_%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%A0%95%EC%9D%98_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 사용자 정의 함수**
사용자 정의 함수란 사용자가 특정 작업을 수행하기 위해 직접 작성한 함수를 의미합니다. 파이썬에는 많은 내장 함수들이 있지만, 때로는 우리의 요구사항에 맞게 동작하는 함수를 직접 만들어야 할 때가 있습니다. 이때 사용자 정의 함수를 작성하게 됩니다. 기본적인 구조는 아래와 같습니다.
```
def 함수명(매개변수1, 매개변수2, ...):
    # 함수 내용
    return 결과값
```

### 1-1. 매개변수와 반환값이 없는 함수

In [21]:
def func1() :
  print('처음으로 만드는 함수')

In [2]:
func1()

처음으로 만드는 함수

In [19]:
print(func1())

처음으로 만드는 함수
None

### 1-2. 매개변수가 있고 반환값이 없는 함수

In [4]:
def func2(num) :
  print(f'입력받은 숫자: {num}')

In [5]:
func2(100)

입력받은 숫자: 100

In [6]:
def func3(start, end) :
  sum = 0
  for i in range(start, end+1) :
    sum += i
  print(f'{start}부터 {end}까지의 합: {sum}')

In [7]:
func3(0,100)

0부터 100까지의 합: 5050

In [9]:
def func3(start, end,) :
  sum = 0
  for i in range(start, end+1) :
    sum += i
  print(f'{start}부터 {end}까지의 합: {sum}')

### 1-3. 반환값이 있는 함수

In [15]:
def func4() :
  return '🧨'

In [16]:
print(func4())

🧨

In [18]:
def func5(num1, num2) :
  sum = num1 + num2
  return sum

In [20]:
print(func5(10,5))
temp = func5(4,3)
print(temp)

15
7

### 1-4. 기본값이 설정된 매개변수

In [27]:
def func6(num1=0, num2=0) :
  sum = num1 + num2
  return sum

In [39]:
print(func6())
print(func6(10))
print(func6(10,3))
print(func6(0,3))
print(func6(num2=3))

0
10
13
3
3

### 1-5.가변 매개변수
함수를 호출할 때 *를 사용하면 시퀀스(리스트, 튜플 등)의 요소를 개별적인 위치 인자로 풀어서 전달할 수 있습니다.
(unpacking 이라는 뜻)

In [40]:
def func7(*args) :
  return args

In [42]:
print(func7())
print(func7(10,30,50))

()
(10, 30, 50)

### 1-6. 키워드 매개변수

In [43]:
def func8(id, name, age) :
  print(f'아이디 : {id}')
  print(f'이름 : {name}')
  print(f'나이 : {age}')

In [45]:
func8('apple', '김사과', 20)
func8(age=30, id='orange', name='오렌지')

아이디 : apple
이름 : 김사과
나이 : 20
아이디 : orange
이름 : 오렌지
나이 : 30

In [47]:
dict1 = {'age':25, 'id':'banana', 'name':'반하나'}
func8(**dict1)
func8(*dict1)

아이디 : banana
이름 : 반하나
나이 : 25
아이디 : age
이름 : id
나이 : name

### 1-7. 여러개의 반환값

In [54]:
def func6(num1=0, num2=0) :
  sum = num1 + num2
  return sum

In [49]:
result1 = func6(10,3)
print(result1)
# 만약 사칙연산을 모두 구하고 싶다면?

13

In [50]:
def func9(num1=0, num2=0) :
  return num1+num2, num1-num2, num1*num2, num1/num2

In [51]:
result1, result2, result3, result4, = func9(10,3)
print(f'덧셈 : {result1}')
print(f'뺼셈 : {result2}')
print(f'곱셈 : {result3}')
print(f'나눗셈 : {result4}')

덧셈 : 13
뺼셈 : 7
곱셈 : 30
나눗셈 : 3.3333333333333335

In [53]:
_, _, result3, _, = func9(10,3)
print(f'곱셈 : {result3}')

곱셈 : 30

# **2. None의 특징**
None은 파이썬에서 특별한 값으로, 아무런 값이 없음을 표현하는 데 사용됩니다. 다른 언어에서의 null 또는 nil과 유사한 개념입니다.

None은 파이썬의 내장 상수이며, 그 자체로 데이터 타입이 NoneType입니다. 모든 None은 동일하므로, 두 개의 None 값을 비교할 때 항상 True를 반환합니다.

In [56]:
num = None
print(num)

None

In [57]:
def func10(num) :
  if num >= 10 :
    return num

In [59]:
print(func10(5))

None

In [60]:
def func11(num=None) :
  if num is None :
    print('전달된 값이 없습니다')
  else :
    print(num)

In [62]:
func11(10)
func11()

10
전달된 값이 없습니다

In [65]:
num = None

if num is None :
  print('num의 값은 없습니다.')
if num == None :
  print('num의 값은 없습니다.')

num의 값은 없습니다.
num의 값은 없습니다.

In [67]:
# 객체비교
li1 = [1, 2, 3, 4, 5]
li2 = [1, 2, 3, 4, 5]

result1 = li1 is li2
print(result1)

result2 = li1 == li2
print(result2)

False
True