<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/5_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 컬렉션 타입**
여러 개의 데이터 항목을 하나의 단위로 관리할 수 있게 해주는 데이터 구조를 의미합니다. 이것은 여러 개의 데이터를 하나의 변수에 저장하고, 관리할 수 있게 해줍니다. 파이썬에서는 리스트, 튜플, 세트, 딕셔너리 등이 기본적인 컬렉션 타입에 속합니다.

# **2. List**
여러 값들을 하나의 변수에 저장하고 관리할 수 있게 해주는 순차적인 자료구조입니다.

In [1]:
li1 = ['일', 1, 1.0, True]
print(li1)
print(type(li1))

['일', 1, 1.0, True]
<class 'list'>

In [2]:
li2 = list([1,3,5,7,9])
print(li2)
print(type(li2))

[1, 3, 5, 7, 9]
<class 'list'>

In [3]:
li3 = ['김사과', '반하나', '오렌지', '이메론']
print(li3)

['김사과', '반하나', '오렌지', '이메론']

In [4]:
li4 = ['일', 1, 1.0, True]
print(li4)
print(type(li4))

['일', 1, 1.0, True]
<class 'list'>

In [5]:
li4[0], li4[1], li4[2], li4[3]
# li4[4] # IndexError: list index out of range

('일', 1, 1.0, True)

In [6]:
for i in range(4):
  print(type(li4[i]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [7]:
li1 = list([1,3,5,7,9])
print(li1)
print(li1[2])
print(li1[-1])
print(li1[2]+li1[-1])

[1, 3, 5, 7, 9]
5
9
14

In [8]:
li2 = [1, 2, '파이썬', ['김사과', '오렌지']]
print(li2)
print(type(li2))
print(li2[3])
print(type(li2[3]))
print(li2[3][1])
print(type(li2[3][1]))

[1, 2, '파이썬', ['김사과', '오렌지']]
<class 'list'>
['김사과', '오렌지']
<class 'list'>
오렌지
<class 'str'>

In [9]:
li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍔','🍿','🌭']]]
print(li3)
print(li3[2])
print(li3[-1])
print(li3[-1][-2])
print(li3[-1][-1][-2])

[1, 2, 3, ['김사과', '오렌지', '반하나', ['🍔', '🍿', '🌭']]]
3
['김사과', '오렌지', '반하나', ['🍔', '🍿', '🌭']]
반하나
🍿

In [10]:
li1 = [1, 3, 5, 7, 9]
print(li1)
print(li1[0:3])

[1, 3, 5, 7, 9]
[1, 3, 5]

In [11]:
li2 = li1
print(li2)
li2[0] = 100
print(li2)
print(li1)

[1, 3, 5, 7, 9]
[100, 3, 5, 7, 9]
[100, 3, 5, 7, 9]

In [12]:
li3 = [1, 2, 3, ['김사과', '오렌지', '반하나', ['🍔','🍿','🌭']]]
print(li3[2:3])
print(li3[3][:2])

[3]
['김사과', '오렌지']

In [13]:
li4 = [10, 20, 30, 40, 50]
li4[1:2] = ['😁','😀','🤨','😣']
print(li4)

[10, '😁', '😀', '🤨', '😣', 30, 40, 50]

In [14]:
li4 = [10, 20, 30, 40, 50]
# 인덱싱을 이용하여 요소를 추가한 경우 리스트 안에 리스트를 만들고 포함시킨다.
li4[1] = ['😁','😀','🤨','😣']
print(li4)

[10, ['😁', '😀', '🤨', '😣'], 30, 40, 50]

In [15]:
li4 = [10, 20, 30, 40, 50]
print(li4[1:3])
li4[1:3] = [] # 빈 리스트를 슬라이싱을 통해 저장하면 해당 요소가 삭제가된다.
print(li4)

[20, 30]
[10, 40, 50]

In [16]:
li4 = [10, 20, 30, 40, 50]
print(li4[1:2])
print(li4[1])
li4[1] = []
print(li4)

[20]
20
[10, [], 30, 40, 50]

In [17]:
li4 = [10, 20, 30, 40, 50]
print(li4)
del li4[1]
print(li4)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

In [18]:
li5 = [10, 20, 30]
li6 = [40, 50 ,60]
print(li5 + li6)
print(li6 + li5)

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]

In [19]:
li5 = [10, 20, 30]
li6 = li5 + [40, 50 ,60] # [10, 20, 30] + [40, 50, 60]
print(li6)

li6 = [10, 20, 30]
li6 += [40, 50, 60] # li6 = li6 + [40, 50, 60]
print(li6)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [20]:
li6 = [10, 20, 30]
print(li6 * 3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

# **3. 리스트의 메서드**

In [21]:
# len() : 객체의 길이를 반환하는 파이썬 기본 내장 함수
li6 = [10, 20, 30]
print(len(li6))

3

In [22]:
li6 = [10, 20, 30]
print(li6)

[10, 20, 30]

In [23]:
li6 = [10, 20, 30]
print(li6)
# append() : 리스트 요소의 끝에 새로운 요소를 추가
li6.append(100)
print(li6)
# li6.append(200, 300) # TypeError: list.append() takes exactly one argument (2 given)
li6.append([200, 300])
print(li6)

[10, 20, 30]
[10, 20, 30, 100]
[10, 20, 30, 100, [200, 300]]

In [24]:
li6 = [10, 20, 30]
print(li6)
# extend() : 리스트 요소의 끝에 새로운 여러 요소를 추가
# li6.extend(100) # TypeError: 'int' object is not iterable
li6.extend([100])
print(li6)

[10, 20, 30]
[10, 20, 30, 100]

In [25]:
li6 = [10, 20, 30]
print(li6)
# pop() : 리스트 마지막 요소를 삭제하고 삭제된 요소를 반환
print(li6.pop())
print(li6)

[10, 20, 30]
30
[10, 20]

In [26]:
li6 = [10, 20, 30]
print(li6)
# index() : 리스트에서 특정 요소의 값 인덱스를 반환
print(li6.index(20))

[10, 20, 30]
1

In [27]:
li7 = [100, 50, 70, 60, 20]
print(li7)
li7.reverse()
print(li7)

[100, 50, 70, 60, 20]
[20, 60, 70, 50, 100]

In [28]:
# 슬라이싱을 사용하여 리스트의 요소들의 순서를 반대로 설정하는 방법
li7 = [100, 50, 70, 60, 20]
print(li7[:]) # [0:5]
print(li7[0:5])
print(li7[::]) # step 생략 (default = 1)
print(li7[0:5:1]) # 따라서 생략한 결과와 같다
print(li7[0:5:2]) # step을 2로 설정
print(li7[::-1]) # step이 -1일 경우 start 기본값은 -1, stop의 기본값은 0으로 설정
print(li7[1::-1])
print(li7[:0:-1])

[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 50, 70, 60, 20]
[100, 70, 20]
[20, 60, 70, 50, 100]
[50, 100]
[20, 60, 70, 50]

In [29]:
li7 = [100, 50, 70, 60, 20]
print(li7)
# sort() : 리스트의 요소를 오름차순으로 정렬
li7.sort()
print(li7)
# sort(reverse=True) : 리스트의 요소를 내림차순으로 정렬
li7.sort(reverse=True)
print(li7)

[100, 50, 70, 60, 20]
[20, 50, 60, 70, 100]
[100, 70, 60, 50, 20]

In [30]:
li8 = ['Apple', 'apple', 'orange', 'banana', 'melon']
li8.sort()
print(li8)

['Apple', 'apple', 'banana', 'melon', 'orange']

In [31]:
li9 = ['김사과', '오렌지', '반하나', '이메론', '배애리']
li9.sort()
print(li9)

['김사과', '반하나', '배애리', '오렌지', '이메론']

In [31]:
# sorted() : 모든 요소를 정렬한 후 반환해주는 함수