<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/6_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. íŠœí”Œ
ì—¬ëŸ¬ ê°€ì§€ ë°ì´í„° íƒ€ì…ì˜ ê°’ì„ ì €ì¥í•  ìˆ˜ ìˆëŠ”, ë³€ê²½ ë¶ˆê°€ëŠ¥(immutable)í•œ ìˆœì„œê°€ ìˆëŠ” ì»¬ë ‰ì…˜ì…ë‹ˆë‹¤.

In [1]:
tu1 = ()
print(tu1)
print(type(tu1))

()
<class 'tuple'>

In [3]:
tu1 = (1,) # ìš”ì†Œê°€ 1ê°œì¼ ê²½ìš° ëì— ì½¤ë§ˆë¥¼ ê¼­! ë¶™ì—¬ì•¼ í•¨
print(tu1)
print(type(tu1))

(1,)
<class 'tuple'>

In [4]:
tu2 = (1, 3, 5, 7)
print(tu2)
print(type(tu2))

(1, 3, 5, 7)
<class 'tuple'>

In [5]:
tu3 = tuple([1, 3, 5, 7])
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [6]:
li3 = list(tu3)
print(li3)
print(type(li3))

[1, 3, 5, 7]
<class 'list'>

In [7]:
tu4 = 1, 3, 5, 7
print(tu4)
print(type(tu4))

(1, 3, 5, 7)
<class 'tuple'>

In [10]:
num1 = 10
num2 = 20
num3 = 30
tu4 = num1, num2, num3
print(tu4)
result1, result2, result3 = tu4
print(result1)
print(result2)
print(result3)

(10, 20, 30)
10
20
30

In [12]:
tu5 = ('apple', 'banana', ('ğŸ','ğŸŒ'))
print(tu5)
print(type(tu5))
print(tu5[0])
print(type(tu5[0]))
print(tu5[2][0])
print(type(tu5[2][0]))

('apple', 'banana', ('ğŸ', 'ğŸŒ'))
<class 'tuple'>
apple
<class 'str'>
ğŸ
<class 'str'>

In [14]:
tu5 = ('apple', 'banana', ('ğŸ','ğŸŒ'))
tu5 = 'orange'
print(tu5)

orange

In [17]:
tu5 = ('apple', 'banana', ['ğŸ','ğŸŒ'])
print(tu5)
print(type(tu5))
print(tu5[2][0])
tu5[2][0] = 'ğŸ•'
print(tu5)
print(type(tu5[2]))
# tu5[2] = 'ğŸ¥“' # TypeError: 'tuple' object does not support item assignment (íŠœí”Œì˜ ìš”ì†Œê¸° ë•Œë¬¸ì— ë°”ê¾¸ì§€ ëª»í•¨)
print(tu5)

('apple', 'banana', ['ğŸ', 'ğŸŒ'])
<class 'tuple'>
ğŸ
('apple', 'banana', ['ğŸ•', 'ğŸŒ'])
<class 'list'>
('apple', 'banana', ['ğŸ•', 'ğŸŒ'])

In [18]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6[0])
print(tu6[-1])
print(tu6[1:])
print(tu6[1:3])

1
banana
(2, 'apple', 'banana')
(2, 'apple')

In [21]:
tu7 = (10, 20, 30)
tu8 = (40, 50, 60)
print(tu7 + tu8)
print(tu8 + tu7)
tu7 = tu7 + (40, 50, 60)
print(tu7)
print(tu7 * 3)

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [27]:
# ì»¬ë ‰ì…˜ì— í¬í•¨ë˜ì–´ ìˆëŠ” ìš”ì†Œì¸ì§€ í™•ì¸
print(2 in [2, 4, 6, 8, 10])
print(7 in [2, 4, 6, 8, 10])

True
False

In [26]:
tu9 = (10, 30, 100, 90, 50)
# tu9.sort() # AttributeError: 'tuple' object has no attribute 'sort'
result = sorted(tu9)
print(result)
result = tuple(result)
print(result)
result = sorted(tu9, reverse=True)
print(result)

[10, 30, 50, 90, 100]
(10, 30, 50, 90, 100)
[100, 90, 50, 30, 10]

# **2. input() í•¨ìˆ˜**
input()í•¨ìˆ˜ëŠ” ì‚¬ìš©ìë¡œë¶€í„° í‚¤ë³´ë“œ ì…ë ¥ì„ ë°›ëŠ” ë° ì‚¬ìš©ë˜ëŠ” ë‚´ì¥ í•¨ìˆ˜ì…ë‹ˆë‹¤. í”„ë¡œê·¸ë¨ ì‹¤í–‰ ì¤‘ì— ì‚¬ìš©ìê°€ ì…ë ¥í•˜ë©´, ì…ë ¥í•œ ê°’ì´ ë¬¸ìì—´ë¡œ ë°˜í™˜ë˜ì–´ ë³€ìˆ˜ì— ì €ì¥í•˜ê±°ë‚˜ ì²˜ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [28]:
name = input()

LeeEuGene

In [29]:
name

'LeeEuGene'

In [30]:
name = input('ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš” : ')
print(f'{name}ë‹˜ ì•ˆë…•í•˜ì„¸ìš”')

ì´ë¦„ì„ ì…ë ¥í•˜ì„¸ìš” : ê¹€ì‚¬ê³¼

In [36]:
# ê¹€ì‚¬ê³¼ 20 50
info = input('ì´ë¦„, ë‚˜ì´, ëª¸ë¬´ê²Œë¥¼ ë„ì–´ì“°ê¸°ë¡œ êµ¬ë¶„í•˜ì—¬ ì…ë ¥í•˜ì„¸ìš” :').split(' ')
print(info)

ì´ë¦„, ë‚˜ì´, ëª¸ë¬´ê²Œë¥¼ ë„ì–´ì“°ê¸°ë¡œ êµ¬ë¶„í•˜ì—¬ ì…ë ¥í•˜ì„¸ìš” :ê¹€ì‚¬ê³¼ 20 50
['ê¹€ì‚¬ê³¼', '20', '50']

In [37]:
name, age, weight = info = input('ì´ë¦„, ë‚˜ì´, ëª¸ë¬´ê²Œë¥¼ ë„ì–´ì“°ê¸°ë¡œ êµ¬ë¶„í•˜ì—¬ ì…ë ¥í•˜ì„¸ìš” :').split(' ')
print(name, age, weight)

ì´ë¦„, ë‚˜ì´, ëª¸ë¬´ê²Œë¥¼ ë„ì–´ì“°ê¸°ë¡œ êµ¬ë¶„í•˜ì—¬ ì…ë ¥í•˜ì„¸ìš” :ê¹€ì‚¬ê³¼ 20 50
ê¹€ì‚¬ê³¼ 20 50

In [39]:
num1 = int(input('ì²«ë²ˆì§¸ ìˆ«ìë¥¼ ì…ë ¥í•˜ì„¸ìš” '))
num2 = int(input('ë‘ë²ˆì§¸ ìˆ«ìë¥¼ ì…ë ¥í•˜ì„¸ìš” '))
print(f'ê²°ê³¼ : {num1+num2}')

ì²«ë²ˆì§¸ ìˆ«ìë¥¼ ì…ë ¥í•˜ì„¸ìš” 10
ë‘ë²ˆì§¸ ìˆ«ìë¥¼ ì…ë ¥í•˜ì„¸ìš” 5
ê²°ê³¼ : 15

### ë¬¸ì œ
* êµ­ì–´ì ìˆ˜, ì˜ì–´ì ìˆ˜, ìˆ˜í•™ì ìˆ˜ë¥¼ ì…ë ¥ë°›ì•„ ì´ì , í‰ê· ì„ êµ¬í•˜ëŠ” í”„ë¡œê·¸ë¨ì„ ì‘ì„±
*ë‹¨, ì…ë ¥ë°©ì‹ì€ 100/70/85 í˜•íƒœë¡œ ì…ë ¥

In [50]:
kor, eng, math = input('êµ­ì˜ìˆ˜ ì ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš” ').split('/')
sum = int(kor) + int(eng) + int(math)
avg = sum/3
print(f'ì´ì  : {sum}, í‰ê·  : {avg}')
print('í‰ê·  : %.2f' %avg)

êµ­ì˜ìˆ˜ ì ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš” 100/80/85
ì´ì  : 265, í‰ê·  : 88.33333333333333
í‰ê·  : 88.33