<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/6_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 튜플
여러 가지 데이터 타입의 값을 저장할 수 있는, 변경 불가능(immutable)한 순서가 있는 컬렉션입니다.

In [1]:
tu1 = ()
print(tu1)
print(type(tu1))

()
<class 'tuple'>

In [3]:
tu1 = (1,) # 요소가 1개일 경우 끝에 콤마를 꼭! 붙여야 함
print(tu1)
print(type(tu1))

(1,)
<class 'tuple'>

In [4]:
tu2 = (1, 3, 5, 7)
print(tu2)
print(type(tu2))

(1, 3, 5, 7)
<class 'tuple'>

In [5]:
tu3 = tuple([1, 3, 5, 7])
print(tu3)
print(type(tu3))

(1, 3, 5, 7)
<class 'tuple'>

In [6]:
li3 = list(tu3)
print(li3)
print(type(li3))

[1, 3, 5, 7]
<class 'list'>

In [7]:
tu4 = 1, 3, 5, 7
print(tu4)
print(type(tu4))

(1, 3, 5, 7)
<class 'tuple'>

In [10]:
num1 = 10
num2 = 20
num3 = 30
tu4 = num1, num2, num3
print(tu4)
result1, result2, result3 = tu4
print(result1)
print(result2)
print(result3)

(10, 20, 30)
10
20
30

In [12]:
tu5 = ('apple', 'banana', ('🍎','🍌'))
print(tu5)
print(type(tu5))
print(tu5[0])
print(type(tu5[0]))
print(tu5[2][0])
print(type(tu5[2][0]))

('apple', 'banana', ('🍎', '🍌'))
<class 'tuple'>
apple
<class 'str'>
🍎
<class 'str'>

In [14]:
tu5 = ('apple', 'banana', ('🍎','🍌'))
tu5 = 'orange'
print(tu5)

orange

In [17]:
tu5 = ('apple', 'banana', ['🍎','🍌'])
print(tu5)
print(type(tu5))
print(tu5[2][0])
tu5[2][0] = '🍕'
print(tu5)
print(type(tu5[2]))
# tu5[2] = '🥓' # TypeError: 'tuple' object does not support item assignment (튜플의 요소기 때문에 바꾸지 못함)
print(tu5)

('apple', 'banana', ['🍎', '🍌'])
<class 'tuple'>
🍎
('apple', 'banana', ['🍕', '🍌'])
<class 'list'>
('apple', 'banana', ['🍕', '🍌'])

In [18]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6[0])
print(tu6[-1])
print(tu6[1:])
print(tu6[1:3])

1
banana
(2, 'apple', 'banana')
(2, 'apple')

In [21]:
tu7 = (10, 20, 30)
tu8 = (40, 50, 60)
print(tu7 + tu8)
print(tu8 + tu7)
tu7 = tu7 + (40, 50, 60)
print(tu7)
print(tu7 * 3)

(10, 20, 30, 40, 50, 60)
(40, 50, 60, 10, 20, 30)
(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [27]:
# 컬렉션에 포함되어 있는 요소인지 확인
print(2 in [2, 4, 6, 8, 10])
print(7 in [2, 4, 6, 8, 10])

True
False

In [26]:
tu9 = (10, 30, 100, 90, 50)
# tu9.sort() # AttributeError: 'tuple' object has no attribute 'sort'
result = sorted(tu9)
print(result)
result = tuple(result)
print(result)
result = sorted(tu9, reverse=True)
print(result)

[10, 30, 50, 90, 100]
(10, 30, 50, 90, 100)
[100, 90, 50, 30, 10]

# **2. input() 함수**
input()함수는 사용자로부터 키보드 입력을 받는 데 사용되는 내장 함수입니다. 프로그램 실행 중에 사용자가 입력하면, 입력한 값이 문자열로 반환되어 변수에 저장하거나 처리할 수 있습니다.

In [28]:
name = input()

LeeEuGene

In [29]:
name

'LeeEuGene'

In [30]:
name = input('이름을 입력하세요 : ')
print(f'{name}님 안녕하세요')

이름을 입력하세요 : 김사과

In [36]:
# 김사과 20 50
info = input('이름, 나이, 몸무게를 띄어쓰기로 구분하여 입력하세요 :').split(' ')
print(info)

이름, 나이, 몸무게를 띄어쓰기로 구분하여 입력하세요 :김사과 20 50
['김사과', '20', '50']

In [37]:
name, age, weight = info = input('이름, 나이, 몸무게를 띄어쓰기로 구분하여 입력하세요 :').split(' ')
print(name, age, weight)

이름, 나이, 몸무게를 띄어쓰기로 구분하여 입력하세요 :김사과 20 50
김사과 20 50

In [39]:
num1 = int(input('첫번째 숫자를 입력하세요 '))
num2 = int(input('두번째 숫자를 입력하세요 '))
print(f'결과 : {num1+num2}')

첫번째 숫자를 입력하세요 10
두번째 숫자를 입력하세요 5
결과 : 15

### 문제
* 국어점수, 영어점수, 수학점수를 입력받아 총점, 평균을 구하는 프로그램을 작성
*단, 입력방식은 100/70/85 형태로 입력

In [50]:
kor, eng, math = input('국영수 점수를 입력하세요 ').split('/')
sum = int(kor) + int(eng) + int(math)
avg = sum/3
print(f'총점 : {sum}, 평균 : {avg}')
print('평균 : %.2f' %avg)

국영수 점수를 입력하세요 100/80/85
총점 : 265, 평균 : 88.33333333333333
평균 : 88.33