<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/7_%EC%BB%AC%EB%A0%89%EC%85%98_%ED%83%80%EC%9E%85_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Set**
세트(set)는 중복되지 않는 항목들의 컬렉션입니다. (순서가 없기 때문에 인덱스를 사용하지 못한다.)

In [2]:
s1 = {1, 3, 5, 7}
print(s1)
print(type(s1))

{1, 3, 5, 7}
<class 'set'>

In [3]:
s2 = {}
print(s2)
print(type(s2))

{}
<class 'dict'>

In [4]:
s3 = set([1, 3, 5, 7])
print(s3)
print(type(s3))

{1, 3, 5, 7}
<class 'set'>

In [7]:
li1 = [1, 2, 3, 4]
print(type(li1))
s4 = set(li1)
print(s4)
print(type(s4))

<class 'list'>
{1, 2, 3, 4}
<class 'set'>

In [8]:
s5 = {1, 3, 5, 3, 7, 9, 1, 5, 10, 7}
print(s5)

{1, 3, 5, 7, 9, 10}

In [9]:
li2 = [1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
print(li2)
s6 = set(li2)
print(s6)
print(type(s6))

[1, 3, 5, 3, 7, 9, 1, 5, 10, 7]
{1, 3, 5, 7, 9, 10}
<class 'set'>

In [12]:
s1 = {1, 3, 5, 7}
print(s1)
# add() : 세트의 요소를 추가 # 위치는 정해지지 않는다.
s1.add(2)
print(s1)
s1.add(4)
print(s1)
s1.add(7)
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7}

In [13]:
s1 = {1, 3, 5, 7}
print(s1)
# update() : 세트에 여러 요소를 추가
s1.update([2, 4, 6, 8, 10])
print(s1)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [15]:
s1 = {1, 3, 5, 7}
print(s1)
s1.remove(3)
print(s1)
# s1.remove(3) # KeyError: 3

{1, 3, 5, 7}
{1, 5, 7}

In [16]:
s1 = {1, 3, 5, 7}
print(s1)
s1.discard(3)
print(s1)
s1.discard(3)
print(s1)

{1, 3, 5, 7}
{1, 5, 7}
{1, 5, 7}

In [18]:
s1 = {1, 3, 5, 7}
print(s1)
s2 = s1 # 메모리 주소를 복사
print(id(s1))
print(id(s2))
# copy() : 세트를 복사 (똑같이 복사를 하되 주소는 다름)
s2 = s1.copy() # 데이터를 복사
print(s1)
print(s2)
print(id(s1))
print(id(s2))

{1, 3, 5, 7}
132218365340224
132218365340224
{1, 3, 5, 7}
{1, 3, 5, 7}
132218365340224
132218365340448

In [22]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}
# union() : 합집합을 계산하여 반환
result1 = s3.union(s4)
print(result1)
result2 = s3 | s4
print(result2)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [26]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}
# intersection() : 교집합을 계산하여 반환
result1 = s3.intersection(s4)
print(result1)
result2 = s3 & s4
print(result2)

{40, 50, 30}
{40, 50, 30}

In [28]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}
# difference() : 차집합을 계산하여 반환
result1 = s3.difference(s4)
print(result1)
result2 = s3 - s4
print(result2)

{10, 20}
{10, 20}

In [30]:
s3 = {10, 20, 30, 40, 50}
s4 = {30, 40, 50, 60, 70}
# symmetric_difference() : 대칭 차집합을 계산하여 반환
result1 = s3.symmetric_difference(s4)
print(result1)
result2 = s3 ^ s4
print(result2)

{20, 70, 10, 60}
{20, 70, 10, 60}