<a href="https://colab.research.google.com/github/EG-world/Python/blob/main/9_Python_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 산술 연산자**
산술 연산자는 주로 수치 데이터 유형에 대한 기본 산술 연산을 수행하기 위해 사용됩니다.
```
+ : 더하기
- : 빼기
* : 곱하기
/ : 나누기
//: 몫 (정수 나누기)
% : 나머지
**: 지수 (거듭제곱)
```

In [2]:
num1 = 10
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

# **2. 비교 연산자**
비교 연산자는 주로 두 값을 비교하는 데 사용되며, 그 결과는 항상 불리언(True 또는 False) 값입니다.
```
==: 동등
!=: 동등하지 않음
< : 작다
<=: 작거나 같다
> : 크다
>=: 크거나 같다
```

In [3]:
num1 = 10
num2 = 3
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 >= num2)
print(num1 < num2)
print(num1 <= num2)

False
True
True
True
False
False

# **3. 할당 연산자**
변수에 값을 할당하는데 사용됩니다. 파이썬에서는 기본 할당 연산자 외에도 복합 할당 연산자를 제공하여 코드를 간결하게 작성할 수 있게 도와줍니다.
```
= : 할당
+= : 더하기 후 할당
-= : 빼기 후 할당
*= : 곱하기 후 할당
/= : 나누기 후 할당
//=: 몫 후 할당
%= : 나머지 후 할당
**=: 지수 후 할당
```

In [10]:
num = 10

num += 1
print(num)
num -= 1
print(num)
num *= 10
print(num)
num /= 2
print(num)
num %= 3
print(num)

11
10
100
50.0
2.0

# **4. 비트 연산자**
비트 연산자는 정수를 이진 비트로 표현했을 때 사용하는 연산자들입니다. 각 연산자는 정수의 비트 단위로 동작합니다.
```
& : 비트 단위 AND
| : 비트 단위 OR
^ : 비트 단위 XOR
~ : 비트 단위 NOT
<< : 왼쪽 시프트
>> : 오른쪽 시프트
```

✔ 데이터의 크기를 나타내는 단위
1. 비트(bit) : 데이터의 가장 작은 단위 (0 또는 1의 값을 가짐)
2. 바이트(Byte) : 8bit로 구성, 문자 하나(영문 기준) ASCII
3. 킬로바이트(KB) : 1024 byte
4. 메가바이트(MB) : 1024 KB
5. 기가바이트(GB) : 1024 MB
6. 테라바이트(TB) : 1024 GB
7. 페타바이트(PB) : 1024 TB
8. 엑사바이트, 제타바이트, 요타바이트, ....

In [14]:
num1 = 60
num2 = 13
print(num1 & num2)
print(num1 | num2)
print(num1 ^ num2)
print(~num1)
print(num1 << 2)
print(num1 >> 2)


# AND 00001100
# OR  00111101
# XOR 00110001
# ~num1 11000100 , 2의 보수로 음수를 구함 (비트를 모두 뒤집은 후 1을 더함)
# num1 << 2 11110000
# num1 >> 2 1111|

12
61
49
-61
240
15

# **5. 논리 연산자**
파이썬에서의 논리 연산자는 주로 불린(Boolean) 값을 조작하기 위해 사용됩니다. 그러나 파이썬의 논리 연산자는 다른 언어와는 다르게, 연산의 결과로 항상 True 또는 False만을 반환하는 것은 아닙니다. 대신 마지막으로 평가된 피연산자의 값을 반환합니다.
```
and: 논리 AND
or : 논리 OR
not: 논리 NOT
```

✔ 파이썬에서 불린(Boolean)으로 평가되는 값
1. True로 평가 되는 값
```
Boolean : True
0이 아닌 숫자 ex) 1, 3.5, -1, -2.1 등
문자열과 바이트 문자열 : ex) 'Hello', b'hello'
모든 리스트, 튜플, 세트, 딕셔너리(단, 빈 컨테이너가 아닌 형태)
```

2. False로 평가되는 값
```
Boolean : False
숫자 : 0, 0.0
문자열 : 빈 문자열 '' 및 빈 바이트 문자열 b''
리스트, 튜플, 세트, 딕셔터리의 빈 값
None
```

In [19]:
num1 = 10
num2 = 3
result1 = num1 > num2  # True
result2 = num1 == num2 # False
print(result1 and result2)
print(result1 or result2)
print(not result1)

False
True
False

In [20]:
print(True and False)
print(True and True)
print(True or False)
print(not False)

False
True
True
True

In [24]:
print(False and 10)
print(True and 10)
print(True and 0)
print(0 and True)
print(1 and 10)

False
10
0
0
10

In [29]:
print(True and 10)
print(10 or False)
print(False or [])
print(False or 3)
print('Hello' or 3)
print('' or 'Hello')
print(None or '안녕')

10
10
[]
3
Hello
Hello
안녕

In [33]:
print(not True)
print(not 2)
print(not [])

False
False
True